.techStack {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  font-size: 1.5rem;
  text-align: left;
  padding: 0 5vw;
}

.techStack h2 {
  text-align: center;
  font-size: 2rem;
}

.horizontal {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  gap: 1rem;
}
