.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin: 5vh 0;
  justify-content: center;
}

.projectList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 6vw;
  list-style: none;
  width: 95vw;
  background-color: var(--color-beige);
  border-radius: 8px;
  margin: 0 auto;
  padding: 5vh 0;
  align-items: center;
  justify-content: center;
}

.projectItem {
  display: flex;
  flex-direction: column;
  text-align: left;
  text-justify: distribute;
  align-self: flex-start;
  justify-self: center;
}
