body {
  --font-size-default: 16px;
  --font-family-default: Helvetica, Arial, sans-serif;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;

  --color-black: #1e1e24;
  --color-red: #92140c;
  --color-white: #fff8f0;
  --color-beige: #ffcf99;
  --color-blue: #111d4a;
  background-color: var(--color-black);
  color: var(--color-white);
}
