.contact {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin: 5vh 2.5vh;
  align-items: center;
}

.contact h2 {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin: 5vh 2.5vh;
  align-items: center;
}

.contactList {
  display: flex;
  justify-content: center;
  gap: calc(1rem + 1vw);
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--color-beige);
  text-decoration: none;
  font-size: 1.5rem;
}

.contactItem:hover {
  color: #0073b1;
}

.contactItem svg {
  width: 1.5rem;
  height: 1.5rem;
}
