.projectPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--color-blue);
  width: 30rem;
  max-width: 90vw;
  max-height: 60rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--color-black);

  transition: transform 0.3s, box-shadow 0.3s;
}

.projectPreview:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px var(--color-black);
}

.projectPreview h2 {
  text-align: center;
  padding: 2.5vh 0;
}

.projectDescription {
  font-size: 1.5rem;
  line-height: 1.5;
  text-justify: distribute-all-lines;
  text-align: left;
  padding: 5vh;
}

.projectImage {
  display: flex;
  justify-content: center;
  justify-self: center;
}

.projectImage img {
  place-self: center;
  max-width: 85%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 6px 8px var(--color-black);
}
