.footer {
  width: 95%;
  height: 33vh;
  align-self: center;
  border-radius: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-family: "Courier New", Courier, monospace;

  background-color: black;
  color: white;

  font-size: 0.75rem;
  padding: 0 5vw;
}

.footerSection {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footerItem {
  transition: ease;
}

.footerItem:hover {
  text-decoration: underline;
}
