.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  margin: 5vh 0;
}

.home h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 5vh;
}

.heading {
  text-align: center;
  text-justify: center;
}

.text {
  font-size: 1.5rem;
  padding: 0 5vw;
  line-height: 1.5;
  text-justify: distribute-all-lines;
  text-align: left;
}

.myPhoto {
  border-radius: 50%;
  max-width: 75vw;
  width: 35rem;
}
