.topBar {
  width: 100%;
  height: 4rem;
  padding: 1rem 2rem;

  background-color: green;
  color: black;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
}

.navSection {
  font-size: 1.5rem;
  font-weight: 700;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.navItem {
  transition: ease;
}

.navItem:hover {
  transform: scale(1.1);
}
